**<font size=3 face='STZhongSong'>一、安裝所需要的軟件</font>**

In [1]:
!pip install pandas

Requirement already satisfied: pandas in e:\python\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in e:\python\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in e:\python\lib\site-packages (from pandas) (2018.7)
Requirement already satisfied: python-dateutil>=2.5.0 in e:\python\lib\site-packages (from pandas) (2.7.5)
Requirement already satisfied: six>=1.5 in e:\python\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
!pip install matplotlib

Requirement already satisfied: matplotlib in e:\python\lib\site-packages (3.0.2)
Requirement already satisfied: numpy>=1.10.0 in e:\python\lib\site-packages (from matplotlib) (1.16.2)
Requirement already satisfied: cycler>=0.10 in e:\python\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\python\lib\site-packages (from matplotlib) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in e:\python\lib\site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: python-dateutil>=2.1 in e:\python\lib\site-packages (from matplotlib) (2.7.5)
Requirement already satisfied: six in e:\python\lib\site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in e:\python\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (40.6.3)

In [3]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in e:\python\lib\site-packages (0.20.1)
Requirement already satisfied: numpy>=1.8.2 in e:\python\lib\site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: scipy>=0.13.3 in e:\python\lib\site-packages (from scikit-learn) (1.1.0)

In [4]:
!pip install numpy

Requirement already satisfied: numpy in e:\python\lib\site-packages (1.16.2)

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from zipfile import ZipFile

**<font size=3 face='STZhongSong'>二、讀取文件</font>**

In [6]:
with ZipFile('graduate-admissions.zip', 'r') as z:  # 访问zip文件 r是讀的意思
    #e = z.open('Admission_Predict.csv')    # 选择zip文件里的数据
    #de = pd.read_csv(e)    # 读取数据
    f = z.open('Admission_Predict_Ver1.1.csv')
    df =pd.read_csv(f,index_col=0)
df.shape

(500, 8)

In [7]:
df.head(10)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
6,330,115,5,4.5,3.0,9.34,1,0.90
7,321,109,3,3.0,4.0,8.20,1,0.75
8,308,101,2,3.0,4.0,7.90,0,0.68
9,302,102,1,2.0,1.5,8.00,0,0.50
10,323,108,3,3.5,3.0,8.60,0,0.45

In [8]:
df.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000,0.72174
std,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884,0.14114
min,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [9]:
df.isnull().sum() #查看缺失值

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [10]:
#X = df.iloc[:, 0:6] #第一組
#y = df.iloc[:, 7]

In [11]:
#from sklearn.model_selection import train_test_split

#X_tr,X_ts,y_tr,y_ts = train_test_split(X,y,test_size=0.2)
#X_tr.shape,y_tr.shape,X_ts.shape

In [12]:
#y_tr.sample(5)

**<font size=3 face='STZhongSong'>三、數據建模、訓練、測試、指標比較</font>**

In [13]:
import statsmodels.formula.api as smf  #第一組採用多元回歸

In [14]:
df.columns=['GREScore','TOEFLScore','UniversityRating','SOP','LOR','CGPA','Research','chanceofAdmit']

In [15]:
df.sample(5)

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,chanceofAdmit
Serial No.,,,,,,,,
230,324,111,4,3.0,3.0,9.01,1,0.82
425,325,114,5,4.0,5.0,9.46,1,0.91
311,320,104,3,3.0,3.5,8.74,1,0.76
263,308,103,2,2.5,4.0,8.36,1,0.70
167,302,102,3,3.5,5.0,8.33,0,0.65

In [16]:
model_1 = smf.ols('chanceofAdmit~GREScore+TOEFLScore+UniversityRating+SOP+LOR+CGPA+Research', df).fit()
model_1.summary()   #多元回歸第一種組合

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          chanceofAdmit   R-squared:                       0.822
Model:                            OLS   Adj. R-squared:                  0.819
Method:                 Least Squares   F-statistic:                     324.4
Date:                Fri, 10 May 2019   Prob (F-statistic):          8.21e-180
Time:                        18:02:29   Log-Likelihood:                 701.38
No. Observations:                 500   AIC:                            -1387.
Df Residuals:                     492   BIC:                            -1353.
Df Model:                           7
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -1.2757      0.104    -12.232      0.000      -1.481      -1.071
GREScore             0.0019      0.001      3.700      0.000       0.001       0.003
TOEFLScore           0.0028      0.001      3.184      0.002       0.001       0.004
UniversityRating     0.0059      0.004      1.563      0.119      -0.002       0.013
SOP                  0.0016      0.005      0.348      0.728      -0.007       0.011
LOR                  0.0169      0.004      4.074      0.000       0.009       0.025
CGPA                 0.1184      0.010     12.198      0.000       0.099       0.137
Research             0.0243      0.007      3.680      0.000       0.011       0.037
==============================================================================
Omnibus:                      112.770   Durbin-Watson:                   0.796
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              262.104
Skew:                          -1.160   Prob(JB):                     1.22e-57
Kurtosis:                       5.684   Cond. No.                     1.30e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.3e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [17]:
model_2 = smf.ols('chanceofAdmit~GREScore+TOEFLScore+UniversityRating+SOP+LOR+CGPA+Research+GREScore*TOEFLScore*CGPA', df).fit()
model_2.summary()  #多元回歸第二種組合，GRE,TOELF,CGPA都是成績有關

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          chanceofAdmit   R-squared:                       0.823
Model:                            OLS   Adj. R-squared:                  0.819
Method:                 Least Squares   F-statistic:                     205.6
Date:                Fri, 10 May 2019   Prob (F-statistic):          2.78e-175
Time:                        18:02:29   Log-Likelihood:                 702.29
No. Observations:                 500   AIC:                            -1381.
Df Residuals:                     488   BIC:                            -1330.
Df Model:                          11
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                  -11.7481     16.844     -0.697      0.486     -44.844      21.348
GREScore                     0.0346      0.054      0.643      0.520      -0.071       0.140
TOEFLScore                   0.0867      0.158      0.549      0.583      -0.223       0.397
UniversityRating             0.0064      0.004      1.675      0.095      -0.001       0.014
SOP                          0.0015      0.005      0.327      0.744      -0.008       0.010
LOR                          0.0166      0.004      3.984      0.000       0.008       0.025
CGPA                         1.4296      1.987      0.720      0.472      -2.474       5.333
Research                     0.0251      0.007      3.742      0.000       0.012       0.038
GREScore:TOEFLScore         -0.0003      0.001     -0.522      0.602      -0.001       0.001
GREScore:CGPA               -0.0041      0.006     -0.652      0.515      -0.016       0.008
TOEFLScore:CGPA             -0.0106      0.018     -0.574      0.566      -0.047       0.026
GREScore:TOEFLScore:CGPA  3.295e-05   5.78e-05      0.570      0.569   -8.07e-05       0.000
==============================================================================
Omnibus:                      116.740   Durbin-Watson:                   0.802
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              277.327
Skew:                          -1.190   Prob(JB):                     6.01e-61
Kurtosis:                       5.765   Cond. No.                     1.88e+09
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.88e+09. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [18]:
#model = smf.ols('chanceofAdmit~UniversityRating+SOP+LOR+Research+GREScore*TOEFLScore*CGPA', df).fit()
#model.summary()  #same as above

In [19]:
x = df.loc[:,df.columns != 'chanceofAdmit']
y = df['chanceofAdmit']
x.sample(5)

            GREScore  TOEFLScore  UniversityRating  SOP  LOR  CGPA  Research
Serial No.
283              312         106                 3  4.0  3.5  8.79         1
376              304         101                 2  2.0  2.5  7.66         0
401              304         100                 2  3.5  3.0  8.22         0
465              298          97                 2  2.0  3.0  7.21         0
453              328         116                 4  5.0  3.5  9.60         1

In [20]:
y.sample(5)

Serial No.
126    0.64
46     0.88
315    0.66
128    0.78
338    0.94
Name: chanceofAdmit, dtype: float64

In [21]:
y1_hat = model_1.predict(x)  #多元回歸第一種組合預測
y1_hat.head(5)

Serial No.
1    0.951883
2    0.804031
3    0.653448
4    0.744519
5    0.631550
dtype: float64

In [22]:
model1_RMSE = np.sqrt(np.mean(np.square(y1_hat-y)))   #RMSE指標 結果一
model1_RMSE

0.05950420877764954

In [23]:
y2_hat = model_2.predict(x)  #多元回歸第二種組合預測
y2_hat.head(5)

Serial No.
1    0.948041
2    0.803967
3    0.656814
4    0.746386
5    0.633568
dtype: float64

In [24]:
model2_RMSE = np.sqrt(np.mean(np.square(y2_hat-y)))   #RMSE指標 結果二
model2_RMSE

0.059396713985578324

In [25]:
from sklearn.linear_model import Ridge,Lasso
#引入岭回归模型、Lasso

In [26]:
ridge=Ridge().fit(x,y)      #第二組採用岭回归模型

In [27]:
y3_hat=ridge.predict(x)     #岭回归模型預測
y3_hat.shape

(500,)

In [28]:
model3_RMSE = np.sqrt(np.mean(np.square(y3_hat-y)))  #RMSE指標 結果三
model3_RMSE

0.059509944510927885

In [29]:
lasso=Lasso().fit(x,y)     #第三組採用lasso模型

In [30]:
y4_hat=lasso.predict(x)    #lasso模型預測
y4_hat.shape

(500,)

In [31]:
model4_RMSE = np.sqrt(np.mean(np.square(y4_hat-y))) #RMSE指標 結果四
model4_RMSE

0.1211594244676906

**<font size=3 face='STZhongSong'>四、總結，用多元回歸和岭回歸效果都不錯，尤其是多元回歸搭配有交互項，
    代表資料庫中挑選出的自變量對畢業許可，指標性很高</font>**

**<font size=3 face='STZhongSong'>五、額外測試，想說把SOP等級拆開，分別當自變量看對分析的影響，因為P值SOP是最高的，結果沒太大改變</font>**

In [32]:
df.SOP=df.SOP.astype('object')
df=pd.get_dummies(df)
df.sample(5)

,GREScore,TOEFLScore,UniversityRating,LOR,CGPA,Research,chanceofAdmit,SOP_1.0,SOP_1.5,SOP_2.0,SOP_2.5,SOP_3.0,SOP_3.5,SOP_4.0,SOP_4.5,SOP_5.0
Serial No.,,,,,,,,,,,,,,,,
315,305,105,2,4.0,8.13,0,0.66,0,0,0,0,1,0,0,0,0
202,315,110,2,3.0,8.46,1,0.72,0,0,0,0,0,1,0,0,0
433,324,112,4,4.0,9.22,1,0.86,0,0,0,0,0,0,0,1,0
467,314,99,4,4.5,8.73,1,0.71,0,0,0,0,0,1,0,0,0
215,331,117,4,5.0,9.42,1,0.94,0,0,0,0,0,0,0,1,0

In [33]:
df.columns

Index(['GREScore', 'TOEFLScore', 'UniversityRating', 'LOR', 'CGPA', 'Research',
       'chanceofAdmit', 'SOP_1.0', 'SOP_1.5', 'SOP_2.0', 'SOP_2.5', 'SOP_3.0',
       'SOP_3.5', 'SOP_4.0', 'SOP_4.5', 'SOP_5.0'],
      dtype='object')

In [34]:
df.head(5)

,GREScore,TOEFLScore,UniversityRating,LOR,CGPA,Research,chanceofAdmit,SOP_1.0,SOP_1.5,SOP_2.0,SOP_2.5,SOP_3.0,SOP_3.5,SOP_4.0,SOP_4.5,SOP_5.0
Serial No.,,,,,,,,,,,,,,,,
1,337,118,4,4.5,9.65,1,0.92,0,0,0,0,0,0,0,1,0
2,324,107,4,4.5,8.87,1,0.76,0,0,0,0,0,0,1,0,0
3,316,104,3,3.5,8.00,1,0.72,0,0,0,0,1,0,0,0,0
4,322,110,3,2.5,8.67,1,0.80,0,0,0,0,0,1,0,0,0
5,314,103,2,3.0,8.21,0,0.65,0,0,1,0,0,0,0,0,0

In [35]:
df.columns=['GREScore','TOEFLScore','UniversityRating','LOR','CGPA','Research','chanceofAdmit','SOP_10','SOP_15','SOP_20','SOP_25','SOP_30','SOP_35','SOP_40','SOP_45','SOP_50']

In [36]:
model_5 = smf.ols('chanceofAdmit~GREScore+TOEFLScore+UniversityRating+SOP_10+SOP_15+SOP_20+SOP_25+SOP_30+SOP_35+SOP_40+SOP_45+SOP_50+LOR+CGPA+Research', df).fit()
model_5.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          chanceofAdmit   R-squared:                       0.824
Model:                            OLS   Adj. R-squared:                  0.819
Method:                 Least Squares   F-statistic:                     161.8
Date:                Fri, 10 May 2019   Prob (F-statistic):          1.71e-172
Time:                        18:02:29   Log-Likelihood:                 703.85
No. Observations:                 500   AIC:                            -1378.
Df Residuals:                     485   BIC:                            -1314.
Df Model:                          14
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -1.1411      0.097    -11.722      0.000      -1.332      -0.950
GREScore             0.0019      0.001      3.667      0.000       0.001       0.003
TOEFLScore           0.0029      0.001      3.280      0.001       0.001       0.005
UniversityRating     0.0058      0.004      1.497      0.135      -0.002       0.013
SOP_10              -0.1217      0.025     -4.842      0.000      -0.171      -0.072
SOP_15              -0.1335      0.015     -8.695      0.000      -0.164      -0.103
SOP_20              -0.1349      0.014     -9.972      0.000      -0.161      -0.108
SOP_25              -0.1193      0.013     -9.498      0.000      -0.144      -0.095
SOP_30              -0.1261      0.013     -9.950      0.000      -0.151      -0.101
SOP_35              -0.1343      0.013    -10.559      0.000      -0.159      -0.109
SOP_40              -0.1307      0.014     -9.240      0.000      -0.158      -0.103
SOP_45              -0.1248      0.016     -7.742      0.000      -0.156      -0.093
SOP_50              -0.1159      0.017     -6.713      0.000      -0.150      -0.082
LOR                  0.0169      0.004      4.064      0.000       0.009       0.025
CGPA                 0.1172      0.010     11.969      0.000       0.098       0.136
Research             0.0247      0.007      3.718      0.000       0.012       0.038
==============================================================================
Omnibus:                      108.548   Durbin-Watson:                   0.808
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              243.085
Skew:                          -1.133   Prob(JB):                     1.64e-53
Kurtosis:                       5.555   Cond. No.                     1.39e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.89e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [37]:
x1 = df.loc[:,df.columns != 'chanceofAdmit']
y1 = df['chanceofAdmit']
x1.sample(6)

,GREScore,TOEFLScore,UniversityRating,LOR,CGPA,Research,SOP_10,SOP_15,SOP_20,SOP_25,SOP_30,SOP_35,SOP_40,SOP_45,SOP_50
Serial No.,,,,,,,,,,,,,,,
489,322,112,3,4.0,8.62,1,0,0,0,0,1,0,0,0,0
306,321,109,3,3.5,8.80,1,0,0,0,0,0,1,0,0,0
421,299,100,3,3.0,7.42,0,0,0,1,0,0,0,0,0,0
186,327,113,4,4.5,9.11,1,0,0,0,0,0,0,0,1,0
138,316,100,2,3.0,8.16,1,0,1,0,0,0,0,0,0,0
395,329,111,4,4.0,9.23,1,0,0,0,0,0,0,0,1,0

In [38]:
y5_hat = model_5.predict(x1)
y5_hat.head(5)

Serial No.
1    0.952597
2    0.799588
3    0.656111
4    0.737828
5    0.626361
dtype: float64

In [39]:
model1_RMSE = np.sqrt(np.mean(np.square(y5_hat-y1))) #RMSE指標 結果五
model1_RMSE

0.05921211845710839