**<font size=3 face='STZhongSong'>一、安裝所需要的軟件</font>**

In [1]:
!pip install pandas

Requirement already satisfied: pandas in e:\python\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in e:\python\lib\site-packages (from pandas) (2.7.5)
Requirement already satisfied: numpy>=1.12.0 in e:\python\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in e:\python\lib\site-packages (from pandas) (2018.7)
Requirement already satisfied: six>=1.5 in e:\python\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
!pip install matplotlib

Requirement already satisfied: matplotlib in e:\python\lib\site-packages (3.0.2)
Requirement already satisfied: numpy>=1.10.0 in e:\python\lib\site-packages (from matplotlib) (1.16.2)
Requirement already satisfied: cycler>=0.10 in e:\python\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\python\lib\site-packages (from matplotlib) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in e:\python\lib\site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: python-dateutil>=2.1 in e:\python\lib\site-packages (from matplotlib) (2.7.5)
Requirement already satisfied: six in e:\python\lib\site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in e:\python\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (40.6.3)

In [3]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in e:\python\lib\site-packages (0.20.1)
Requirement already satisfied: numpy>=1.8.2 in e:\python\lib\site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: scipy>=0.13.3 in e:\python\lib\site-packages (from scikit-learn) (1.1.0)

In [4]:
!pip install numpy

Requirement already satisfied: numpy in e:\python\lib\site-packages (1.16.2)

**<font size=3 face='STZhongSong'>二、讀取文件</font>**

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from zipfile import ZipFile

In [6]:
with ZipFile('weather-dataset-rattle-package.zip', 'r') as z:  # 访问zip文件
    f = z.open('weatherAUS.csv')    # 选择zip文件里的数据
    df = pd.read_csv(f,index_col=0)    # 读取数据

df.shape

(142193, 23)

In [7]:
df.head(20) #查看前20項

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,W,...,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0.0,No
2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,W,...,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,0.0,No
2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,W,...,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0.0,No
2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,NW,...,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,1.4,Yes
2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,SSE,...,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,0.0,No
2008-12-11,Albury,13.4,30.4,0.0,NaN,NaN,N,30.0,SSE,ESE,...,22.0,1011.8,1008.7,NaN,NaN,20.4,28.8,No,2.2,Yes
2008-12-12,Albury,15.9,21.7,2.2,NaN,NaN,NNE,31.0,NE,ENE,...,91.0,1010.5,1004.2,8.0,8.0,15.9,17.0,Yes,15.6,Yes
2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,NNW,NNW,...,93.0,994.3,993.0,8.0,8.0,17.4,15.8,Yes,3.6,Yes
2008-12-14,Albury,12.6,21.0,3.6,NaN,NaN,SW,44.0,W,SSW,...,43.0,1001.2,1001.8,NaN,7.0,15.8,19.8,Yes,0.0,No
2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,NaN,WNW,...,28.0,1013.4,1010.3,0.0,NaN,17.3,26.2,NaN,0.0,No
2008-12-17,Albury,14.1,20.9,0.0,NaN,NaN,ENE,22.0,SSW,E,...,82.0,1012.2,1010.4,8.0,1.0,17.2,18.1,No,16.8,Yes
2008-12-18,Albury,13.5,22.9,16.8,NaN,NaN,W,63.0,N,WNW,...,65.0,1005.8,1002.2,8.0,1.0,18.0,21.5,Yes,10.6,Yes
2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,WSW,SW,...,32.0,1009.4,1009.7,NaN,2.0,15.5,21.0,Yes,0.0,No
2008-12-20,Albury,9.8,25.6,0.0,NaN,NaN,SSE,26.0,SE,NNW,...,26.0,1019.2,1017.1,NaN,NaN,15.8,23.2,No,0.0,No
2008-12-21,Albury,11.5,29.3,0.0,NaN,NaN,S,24.0,SE,SE,...,28.0,1019.3,1014.8,NaN,NaN,19.1,27.3,No,0.0,No

In [8]:
df.describe() #查看資料狀況

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [9]:
df.isnull().sum() #查看缺失值

Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [10]:
df = df.drop(columns=['Location','RISK_MM']) #無關和會降低預測準度的變量刪除
df.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,20.0,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
2008-12-02,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,4.0,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2008-12-03,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,19.0,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
2008-12-04,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,11.0,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
2008-12-05,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,7.0,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

**<font size=3 face='STZhongSong'>三、缺失值處理</font>**

In [11]:
df.isnull().sum() #查看缺失值

MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RainTomorrow         0
dtype: int64

In [12]:
df = df.drop(columns=['Evaporation','Sunshine','WindDir9am','Pressure9am','Pressure3pm','Cloud9am','Cloud3pm']) #超過萬筆資料缺失刪除該變量影響
df.head(5)

,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Date,,,,,,,,,,,,,,
2008-12-01,13.4,22.9,0.6,W,44.0,WNW,20.0,24.0,71.0,22.0,16.9,21.8,No,No
2008-12-02,7.4,25.1,0.0,WNW,44.0,WSW,4.0,22.0,44.0,25.0,17.2,24.3,No,No
2008-12-03,12.9,25.7,0.0,WSW,46.0,WSW,19.0,26.0,38.0,30.0,21.0,23.2,No,No
2008-12-04,9.2,28.0,0.0,NE,24.0,E,11.0,9.0,45.0,16.0,18.1,26.5,No,No
2008-12-05,17.5,32.3,1.0,W,41.0,NW,7.0,20.0,82.0,33.0,17.8,29.7,No,No

In [13]:
df.isnull().sum()

MinTemp           637
MaxTemp           322
Rainfall         1406
WindGustDir      9330
WindGustSpeed    9270
WindDir3pm       3778
WindSpeed9am     1348
WindSpeed3pm     2630
Humidity9am      1774
Humidity3pm      3610
Temp9am           904
Temp3pm          2726
RainToday        1406
RainTomorrow        0
dtype: int64

In [14]:
df.describe()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Temp9am,Temp3pm
count,141556.000000,141871.000000,140787.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,141289.000000,139467.000000
mean,12.186400,23.226784,2.349974,39.984292,14.001988,18.637576,68.843810,51.482606,16.987509,21.687235
std,6.403283,7.117618,8.465173,13.588801,8.893337,8.803345,19.051293,20.797772,6.492838,6.937594
min,-8.500000,-4.800000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,-7.200000,-5.400000
25%,7.600000,17.900000,0.000000,31.000000,7.000000,13.000000,57.000000,37.000000,12.300000,16.600000
50%,12.000000,22.600000,0.000000,39.000000,13.000000,19.000000,70.000000,52.000000,16.700000,21.100000
75%,16.800000,28.200000,0.800000,48.000000,19.000000,24.000000,83.000000,66.000000,21.600000,26.400000
max,33.900000,48.100000,371.000000,135.000000,130.000000,87.000000,100.000000,100.000000,40.200000,46.700000

In [15]:
mean_MinTemp = df['MinTemp'].mean()#溫度、濕度、降雨量相關採用平均值填充，因為觀察其數據狀況得出可以如此
mean_MinTemp
mean_MaxTemp = df['MaxTemp'].mean()
mean_MaxTemp
mean_Temp9am = df['Temp9am'].mean()
mean_Temp9am
mean_Temp3pm = df['Temp3pm'].mean()
mean_Temp3pm
mean_Rainfall = df['Rainfall'].mean()
mean_Rainfall
mean_Humidity9am = df['Humidity9am'].mean()
mean_Humidity9am
mean_Humidity3pm = df['Humidity3pm'].mean()
mean_Humidity3pm

51.482606091656265

In [16]:
tmp = df['MinTemp'].copy()
tmp[df.MinTemp.isnull()] = mean_MinTemp
df['MinTemp_fill'] = tmp
del tmp
df = df.drop(['MinTemp'],axis=1)

tmp = df['MaxTemp'].copy()
tmp[df.MaxTemp.isnull()] = mean_MaxTemp
df['MaxTemp_fill'] = tmp
del tmp
df = df.drop(['MaxTemp'],axis=1)

tmp = df['Temp9am'].copy()
tmp[df.Temp9am.isnull()] = mean_Temp9am
df['Temp9am_fill'] = tmp
del tmp
df = df.drop(['Temp9am'],axis=1)

tmp = df['Temp3pm'].copy()
tmp[df.Temp3pm.isnull()] = mean_Temp3pm
df['Temp3pm_fill'] = tmp
del tmp
df = df.drop(['Temp3pm'],axis=1)

tmp = df['Rainfall'].copy()
tmp[df.Rainfall.isnull()] = mean_Rainfall
df['Rainfall_fill'] = tmp
del tmp
df = df.drop(['Rainfall'],axis=1)

tmp = df['Humidity9am'].copy()
tmp[df.Humidity9am.isnull()] = mean_Humidity9am
df['Humidity9am_fill'] = tmp
del tmp
df = df.drop(['Humidity9am'],axis=1)

tmp = df['Humidity3pm'].copy()
tmp[df.Humidity3pm.isnull()] = mean_Humidity3pm
df['Humidity3pm_fill'] = tmp
del tmp
df = df.drop(['Humidity3pm'],axis=1)

In [17]:
df.columns  #目前有的變量

Index(['WindGustDir', 'WindGustSpeed', 'WindDir3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'RainToday', 'RainTomorrow', 'MinTemp_fill',
       'MaxTemp_fill', 'Temp9am_fill', 'Temp3pm_fill', 'Rainfall_fill',
       'Humidity9am_fill', 'Humidity3pm_fill'],
      dtype='object')

In [18]:
df.isnull().sum()

WindGustDir         9330
WindGustSpeed       9270
WindDir3pm          3778
WindSpeed9am        1348
WindSpeed3pm        2630
RainToday           1406
RainTomorrow           0
MinTemp_fill           0
MaxTemp_fill           0
Temp9am_fill           0
Temp3pm_fill           0
Rainfall_fill          0
Humidity9am_fill       0
Humidity3pm_fill       0
dtype: int64

In [19]:
df.describe()

,WindGustSpeed,WindSpeed9am,WindSpeed3pm,MinTemp_fill,MaxTemp_fill,Temp9am_fill,Temp3pm_fill,Rainfall_fill,Humidity9am_fill,Humidity3pm_fill
count,132923.000000,140845.000000,139563.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000
mean,39.984292,14.001988,18.637576,12.186400,23.226784,16.987509,21.687235,2.349974,68.843810,51.482606
std,13.588801,8.893337,8.803345,6.388924,7.109554,6.472166,6.870771,8.423217,18.932077,20.532065
min,6.000000,0.000000,0.000000,-8.500000,-4.800000,-7.200000,-5.400000,0.000000,0.000000,0.000000
25%,31.000000,7.000000,13.000000,7.600000,17.900000,12.300000,16.700000,0.000000,57.000000,37.000000
50%,39.000000,13.000000,19.000000,12.000000,22.700000,16.800000,21.300000,0.000000,70.000000,51.482606
75%,48.000000,19.000000,24.000000,16.800000,28.200000,21.500000,26.300000,0.800000,83.000000,65.000000
max,135.000000,130.000000,87.000000,33.900000,48.100000,40.200000,46.700000,371.000000,100.000000,100.000000

In [20]:
df.groupby(by=['RainToday'])['RainTomorrow'].count() #看raintoday 大部分的答案

RainToday
No     109332
Yes     31455
Name: RainTomorrow, dtype: int64

In [21]:
df.RainToday = [x if str(x) != str('nan') else 'No' for x in df.RainToday] #把raintoday缺失值填為No，不下雨

In [22]:
df.groupby(by=['RainToday'])['RainTomorrow'].count() #確認raintoday缺失值填的正確

RainToday
No     110738
Yes     31455
Name: RainTomorrow, dtype: int64

In [23]:
df.isnull().sum()

WindGustDir         9330
WindGustSpeed       9270
WindDir3pm          3778
WindSpeed9am        1348
WindSpeed3pm        2630
RainToday              0
RainTomorrow           0
MinTemp_fill           0
MaxTemp_fill           0
Temp9am_fill           0
Temp3pm_fill           0
Rainfall_fill          0
Humidity9am_fill       0
Humidity3pm_fill       0
dtype: int64

In [24]:
df = df.dropna(axis=0, how='any') #剩下根據有缺失值的刪除其row

In [25]:
df.shape #大約刪除10000萬筆 少掉大約7%數據 我認為可以接受

(131633, 14)

In [26]:
df.isnull().sum() #缺失值處理完成

WindGustDir         0
WindGustSpeed       0
WindDir3pm          0
WindSpeed9am        0
WindSpeed3pm        0
RainToday           0
RainTomorrow        0
MinTemp_fill        0
MaxTemp_fill        0
Temp9am_fill        0
Temp3pm_fill        0
Rainfall_fill       0
Humidity9am_fill    0
Humidity3pm_fill    0
dtype: int64

**<font size=3 face='STZhongSong'>四、非數值的數據數值化</font>**

In [27]:
df.head(10) #接下來要將非數值的數據進行數值化

,WindGustDir,WindGustSpeed,WindDir3pm,WindSpeed9am,WindSpeed3pm,RainToday,RainTomorrow,MinTemp_fill,MaxTemp_fill,Temp9am_fill,Temp3pm_fill,Rainfall_fill,Humidity9am_fill,Humidity3pm_fill
Date,,,,,,,,,,,,,,
2008-12-01,W,44.0,WNW,20.0,24.0,No,No,13.4,22.9,16.9,21.8,0.6,71.0,22.0
2008-12-02,WNW,44.0,WSW,4.0,22.0,No,No,7.4,25.1,17.2,24.3,0.0,44.0,25.0
2008-12-03,WSW,46.0,WSW,19.0,26.0,No,No,12.9,25.7,21.0,23.2,0.0,38.0,30.0
2008-12-04,NE,24.0,E,11.0,9.0,No,No,9.2,28.0,18.1,26.5,0.0,45.0,16.0
2008-12-05,W,41.0,NW,7.0,20.0,No,No,17.5,32.3,17.8,29.7,1.0,82.0,33.0
2008-12-06,WNW,56.0,W,19.0,24.0,No,No,14.6,29.7,20.6,28.9,0.2,55.0,23.0
2008-12-07,W,50.0,W,20.0,24.0,No,No,14.3,25.0,18.1,24.6,0.0,49.0,19.0
2008-12-08,W,35.0,W,6.0,17.0,No,No,7.7,26.7,16.3,25.5,0.0,48.0,19.0
2008-12-09,NNW,80.0,NW,7.0,28.0,No,Yes,9.7,31.9,18.3,30.2,0.0,42.0,9.0
2008-12-10,W,28.0,SSE,15.0,11.0,Yes,No,13.1,30.1,20.1,28.2,1.4,58.0,27.0

In [28]:
df.RainToday = [1 if str(x) == str('Yes') else 0 for x in df.RainToday] #結果是Yes=1;No=0
df.RainTomorrow = [1 if str(x) == str('Yes') else 0 for x in df.RainTomorrow] #結果是Yes=1;No=0

In [29]:
df.head(10)

,WindGustDir,WindGustSpeed,WindDir3pm,WindSpeed9am,WindSpeed3pm,RainToday,RainTomorrow,MinTemp_fill,MaxTemp_fill,Temp9am_fill,Temp3pm_fill,Rainfall_fill,Humidity9am_fill,Humidity3pm_fill
Date,,,,,,,,,,,,,,
2008-12-01,W,44.0,WNW,20.0,24.0,0,0,13.4,22.9,16.9,21.8,0.6,71.0,22.0
2008-12-02,WNW,44.0,WSW,4.0,22.0,0,0,7.4,25.1,17.2,24.3,0.0,44.0,25.0
2008-12-03,WSW,46.0,WSW,19.0,26.0,0,0,12.9,25.7,21.0,23.2,0.0,38.0,30.0
2008-12-04,NE,24.0,E,11.0,9.0,0,0,9.2,28.0,18.1,26.5,0.0,45.0,16.0
2008-12-05,W,41.0,NW,7.0,20.0,0,0,17.5,32.3,17.8,29.7,1.0,82.0,33.0
2008-12-06,WNW,56.0,W,19.0,24.0,0,0,14.6,29.7,20.6,28.9,0.2,55.0,23.0
2008-12-07,W,50.0,W,20.0,24.0,0,0,14.3,25.0,18.1,24.6,0.0,49.0,19.0
2008-12-08,W,35.0,W,6.0,17.0,0,0,7.7,26.7,16.3,25.5,0.0,48.0,19.0
2008-12-09,NNW,80.0,NW,7.0,28.0,0,1,9.7,31.9,18.3,30.2,0.0,42.0,9.0
2008-12-10,W,28.0,SSE,15.0,11.0,1,0,13.1,30.1,20.1,28.2,1.4,58.0,27.0

In [30]:
df = pd.get_dummies(df) #風的風向進行數值化
df.head(10)

,WindGustSpeed,WindSpeed9am,WindSpeed3pm,RainToday,RainTomorrow,MinTemp_fill,MaxTemp_fill,Temp9am_fill,Temp3pm_fill,Rainfall_fill,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-01,44.0,20.0,24.0,0,0,13.4,22.9,16.9,21.8,0.6,...,0,0,0,0,0,0,0,0,1,0
2008-12-02,44.0,4.0,22.0,0,0,7.4,25.1,17.2,24.3,0.0,...,0,0,0,0,0,0,0,0,0,1
2008-12-03,46.0,19.0,26.0,0,0,12.9,25.7,21.0,23.2,0.0,...,0,0,0,0,0,0,0,0,0,1
2008-12-04,24.0,11.0,9.0,0,0,9.2,28.0,18.1,26.5,0.0,...,0,0,0,0,0,0,0,0,0,0
2008-12-05,41.0,7.0,20.0,0,0,17.5,32.3,17.8,29.7,1.0,...,0,1,0,0,0,0,0,0,0,0
2008-12-06,56.0,19.0,24.0,0,0,14.6,29.7,20.6,28.9,0.2,...,0,0,0,0,0,0,0,1,0,0
2008-12-07,50.0,20.0,24.0,0,0,14.3,25.0,18.1,24.6,0.0,...,0,0,0,0,0,0,0,1,0,0
2008-12-08,35.0,6.0,17.0,0,0,7.7,26.7,16.3,25.5,0.0,...,0,0,0,0,0,0,0,1,0,0
2008-12-09,80.0,7.0,28.0,0,1,9.7,31.9,18.3,30.2,0.0,...,0,1,0,0,0,0,0,0,0,0
2008-12-10,28.0,15.0,11.0,1,0,13.1,30.1,20.1,28.2,1.4,...,0,0,0,0,1,0,0,0,0,0

**<font size=3 face='STZhongSong'>五、數據建模、訓練、測試、指標比較</font>**

In [31]:
X = df.loc[:, df.columns!='RainTomorrow'] #第一組
y = df.loc[:, df.columns=='RainTomorrow']

In [32]:
from sklearn.model_selection import train_test_split

X_tr, X_ts, y_tr, y_ts = train_test_split(X, y, random_state =2)
X_tr.shape, X_ts.shape

((98724, 43), (32909, 43))

In [33]:
from sklearn.naive_bayes import GaussianNB#採用朴素贝叶斯

gnb = GaussianNB()
gnb = gnb.fit(X_tr, y_tr.values.ravel())

In [34]:
y_pred = gnb.predict(X_ts)
y_pred[:20]

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0],
      dtype=int64)

In [35]:
from sklearn.metrics import f1_score
f1_score(y_ts, y_pred)

0.49835100117785636

In [36]:
from sklearn.model_selection import cross_val_score#交叉验证
scores = cross_val_score(gnb, X, y.values.ravel(), cv=5, scoring='f1')
scores.mean()

0.48001651203902274

In [37]:
#from sklearn.model_selection import cross_val_score

scores_gnb = cross_val_score(gnb, X, y.values.ravel(), cv=5, scoring='accuracy')
scores_gnb.mean()

0.727971638146148

In [38]:
X1 = df.loc[:, df.columns!='RainTomorrow']  #第二組
y1 = df.loc[:, df.columns=='RainTomorrow']

In [39]:
from sklearn.model_selection import train_test_split

X1_tr,X1_ts,y1_tr,y1_ts = train_test_split(X1,y1)
X1_tr.shape,X1_ts.shape

((98724, 43), (32909, 43))

In [40]:
from sklearn.tree import DecisionTreeClassifier #採用決策樹

dtc = DecisionTreeClassifier()
dtc = dtc.fit(X1_tr,y1_tr)

In [41]:
y1_pred = dtc.predict(X1_ts)
y1_pred

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [42]:
#from sklearn.metrics import f1_score
f1_score(y1_ts, y1_pred)

0.49606832971800435

In [43]:
#from sklearn.model_selection import cross_val_score#交叉验证
scores = cross_val_score(dtc, X1, y1.values.ravel(), cv=5, scoring='f1')
scores.mean()

0.49020230010352667

In [44]:
#from sklearn.model_selection import cross_val_score

scores_dtc = cross_val_score(dtc, X1, y1, cv=5, scoring='accuracy')
scores_dtc.mean()

0.7636762894189669

In [45]:
X2 = df.loc[:, df.columns!='RainTomorrow']  #第三組
y2 = df.loc[:, df.columns=='RainTomorrow']

In [46]:
from sklearn.model_selection import train_test_split

X2_tr,X2_ts,y2_tr,y2_ts = train_test_split(X2,y2)
X2_tr.shape,X2_ts.shape

((98724, 43), (32909, 43))

In [47]:
from sklearn.ensemble import RandomForestClassifier  #採用隨機森林
rfc = RandomForestClassifier(n_estimators=10)
rfc = rfc.fit(X2_tr,y2_tr.values.ravel())

In [48]:
y2_pred = rfc.predict(X2_ts)
y2_pred

array([1, 0, 1, ..., 0, 0, 0], dtype=int64)

In [49]:
#from sklearn.metrics import f1_score
f1_score(y2_ts, y2_pred)

0.5537909836065573

In [50]:
#from sklearn.model_selection import cross_val_score#交叉验证
scores = cross_val_score(rfc, X2, y2.values.ravel(), cv=5, scoring='f1')
scores.mean()

0.5325328237387146

In [51]:
#from sklearn.model_selection import cross_val_score

scores_dtc = cross_val_score(rfc, X2, y2.values.ravel(), cv=5, scoring='accuracy')
scores_dtc.mean()

0.8318886748761628

In [52]:
rfc_cv = cross_val_score(rfc,X2_tr,y2_tr.values.ravel(),scoring='accuracy',cv=5) #should same as above
rfc_cv.mean()

0.837364794053682

In [53]:
from sklearn.model_selection import GridSearchCV, KFold, train_test_split   #採用決策樹格搜索
from sklearn.metrics import make_scorer, accuracy_score

In [54]:
regressor = DecisionTreeClassifier(random_state=0)
parameters = {'max_depth': range(1, 6)}
scoring_fnc = make_scorer(accuracy_score)
kfold = KFold(n_splits=10)

In [55]:
grid = GridSearchCV(regressor, parameters, scoring_fnc, cv=kfold)
grid = grid.fit(X1_tr, y1_tr)
grid.best_estimator_, grid.best_score_

(DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
             max_features=None, max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, presort=False, random_state=0,
             splitter='best'), 0.8378003322393744)

In [56]:
dtc_best = grid.best_estimator_
dtc_best.fit(X1_tr,y1_tr)

y1_pred = dtc_best.predict(X1_ts)
y1_pred[0:5]

array([0, 1, 0, 0, 0], dtype=int64)

In [57]:
scores = cross_val_score(dtc_best,X1,y1,cv=5,scoring='accuracy')   #相比之前單純採用決策樹，accuracy比之前0.763提升不少
scores.mean()

0.8342665055142586

In [58]:
regressor =RandomForestClassifier(n_estimators=10)       #採用隨機森林格搜索
parameters = {'max_depth': range(1, 6),'min_samples_split':list(range(2,5,1))}
scoring_fnc = make_scorer(accuracy_score)
kfold = KFold(n_splits=10)

In [59]:
grid = GridSearchCV(regressor, parameters, scoring_fnc, cv=kfold)
grid = grid.fit(X2_tr, y2_tr.values.ravel())
grid.best_estimator_, grid.best_score_

(RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
             max_depth=5, max_features='auto', max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=1, min_samples_split=3,
             min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
             oob_score=False, random_state=None, verbose=0,
             warm_start=False), 0.8279648312467079)

In [60]:
rfc_best = grid.best_estimator_
rfc_best.fit(X2_tr,y2_tr.values.ravel())

y2_pred = dtc_best.predict(X2_ts)
y2_pred[0:5]

array([1, 0, 1, 0, 0], dtype=int64)

In [61]:
scores = cross_val_score(rfc_best,X2,y2.values.ravel(),cv=5,scoring='accuracy')#與單純採用隨機森林，accuracy和之前0.838沒太大改變
scores.mean()

0.828287733524942

**<font size=3 face='STZhongSong'>六、總結 搭配預處理下，採用隨機森林或者有格搜索的決策樹都有不錯的預測，
f1_score會不準應該是風向的變量太多了</font>**